.home-container {
  padding: 20px;
  font-family: 'Arial', sans-serif;
  color: #333;
  background-color: #f9f9f9;
}

.home-header {
  text-align: center;
  margin-bottom: 40px;
}

.home-header h1 {
  font-size: 3em;
  margin-bottom: 10px;
  color: white; /* Initial color white */
  transition: color 0.3s ease; /* Smooth transition for hover effect */
}

.home-header h1:hover {
  color: orange; /* Change to orange on hover */
}

.home-summary {
  font-size: 1.2em;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
  color: rgb(255, 255, 255);
}

.home-main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Bounce up 10px */
  }
}

.headline-section {
  background-color: skyblue;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  animation: bounce 2s infinite alternate; /* 0.5x speed (2s duration), infinite, alternating direction */
}

.headline-section:hover {
  animation-play-state: paused; /* Stop bouncing on hover */
}

.headline-section h2 {
  font-size: 1.5em;
  color: #34495e;
  margin-bottom: 10px;
}

.headline-section p {
  font-size: 1em;
  line-height: 1.5;
}
